14-basins/data/
14-basins/figs/
17a-gs-failure/data/
17a-g-_failure/figs/
17a-gs-failure/ntw_data/
17a-gs-failure/temp/
18c-k-player/figures/
18c-k-player/refs/
18c-k-player/data/synth*
18c-k-player/synth_data/d_??????.csv
19b-lanl/code_naspi*
19b-lanl/data/
19b-lanl/data2/
19b-lanl/data_ebc/
19b-lanl/data_marc.zip
19b-lanl/data_marc/fle*
19b-lanl/data_melvyn*
19b-lanl/data_naspi/
19b-lanl/data_utk*
19b-lanl/data_uk10/
19b-lanl/export2cluster.sh
19b-lanl/failed/
19b-lanl/figs/
19b-lanl/Mas16/
19b-lanl/MT*
19b-lanl/send/
19b-lanl/test-nonagnostic/
19b-lanl/useless_data/
19c-machine-learning/data1/
19c-machine-learning/data_cluster/
19c-machine-learning/figs/
19d-opinion-dyn/GMG/*.pdf
19d-opinion-dyn/GMG/add_data/
19d-opinion-dyn/GMG/data_gmg/*
19d-opinion-dyn/GMG/MULTI-PARTY(RM)/
19d-opinion-dyn/GMG/PAPER_DATA/
19e-grhyp/cases/
19e-grhyp/data/
19e-grhyp/MATPOWER-manual-7.1.pdf
19e-grhyp/ntw_data/*.m
19e-grhyp/ntw_data/*.png
19e-grhyp/ntw_data/*.raw
19e-grhyp/ntw_data/*.RAW
19i-line-rank/data/
20bcd-21d-22f-ntw-inference/2wave/
20bcd-21d-22f-ntw-inference/data/
20bcd-21d-22f-ntw-inference/data1/
20bcd-21d-22f-ntw-inference/data2/
20bcd-21d-22f-ntw-inference/figs/
20bcd-21d-22f-ntw-inference/line_dist_data/
20bcd-21d-22f-ntw-inference/temp/pegase1354re*
20bcd-21d-22f-ntw-inference/temp0/
20f-sir/figs
21a-ksakaguchi/2wave/
21a-ksakaguchi/data/
21a-ksakaguchi/temp_data/
21a-ksakaguchi/vid/
22e-14-complex/figs/
22i-hyper-inf/current-figures/
22i-hyper-inf/data/
22i-hyper-inf/test_hypergraph_inference.zip
23d-basin-size/data/
